* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(267, 22%, 90%);
  font-family: 'Nunito', sans-serif;
}

header {
  text-align: center;
  margin: 2rem auto 2rem 4rem;
}

header h1 {
  padding: 1rem;
}

strong {
  display: block;
  font-size: 2rem;
}

.section-A {
  display: flex;
  width: 25rem;
  margin: 0 auto 2rem auto;
  text-align: center;
}

.section-A form {
  margin-left: 1rem;
  background-color: hsl(272, 31%, 80%);
  padding: 1rem;
  border-radius: 5px;
}

.section-A input {
  outline: none;
  border: none;
  padding: 0.25rem;
}

h3,
strong {
  color: #5709a0;
}

.section-B {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  width: 6.25rem;
  text-align: center;
  margin: auto;
  position: relative;
  right: 7.6rem;
}

.section-B input {
  height: 8rem;
  width: 8rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.section-B input:focus {
  background-color: hsl(271, 27%, 76%);
  outline: none;
}

button {
  font: inherit;
}

.active {
  background-color: hsl(271, 27%, 76%);
}

.selected {
  background-color: hsl(271, 49%, 37%);
}

.inputChoice {
  font-size: 4rem;
  text-align: center;
}

hr {
  width: 30rem;
  height: 0.3rem;
  background-color: black;
  border: none;
  position: relative;
  top: 65px;
  left: 370px;
  display: none;
}

#message {
  text-align: center;
  font-size: 2rem;
  margin: auto 0 2rem 5rem;
}
